
.auth-form-container  ,.login-form , .register-form{
  display: flex;
  flex-direction: column;

}

label{
  align-items: center;
  text-align: left;
}

input{
  margin: 0.5rem 0;
  padding:1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.link-button{
  margin: 20px;
  background: none;
  text-decoration: underline;
}
.newpost-button{
  position: fixed;
        top: 0;
        left: 0;
        
        width: 20%;

        background-color: #333;
        color: #fff;
        margin-top: 5px;
        margin-left: 8cm;
        text-align: center;
        border-radius: 100px;
}

.myprofile-button{
  position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        margin-top: 5px;
        background-color: #333;
        color: #fff;
        margin-left: 0cm;
        text-align: center;
        border-radius: 100px;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  display: grid;
  border-style: solid;
  border-color: red;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}
.header {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(1, 1, 8);
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  height: 50px;
  
}
.two {
  border-style: solid;
  border-color: black;
  grid-column: 3 / 4;
  grid-row: 2/ 5;
  height: 670px;
  border-width: 1px;
}
.three {
  border-style: solid;
  border-color: black;
  grid-row: 2 / 5;
  grid-column: 2 / 3;
  border-width: 1px;
  padding: 40px;
}
.four {
  border-style: solid;
  border-color: black;
  grid-row: 2 / 5;
  grid-column: 1 / 2;
  border-width: 1px;
  padding: 40px;
}
.hr{
  height: 12px;
  background: black;
  
}


.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #ccbafc , #a831f7 50%, #ccbafc );
}

.map-container {
  height: 100%;
  width: 100%;
}